/** {
    box-sizing: border-box;
}*/

html body {
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    background-color: #002b36;
    font-family: "Courier New";
}
body{
  display: flex;
  flex-flow: column;
  align-content: center;
  max-width: 100vw;
}

a {
    color: #d33682;
    text-decoration: none;
}

p {
    padding: 10px;
    margin-top: 0;
}

span.nowrap {
    display: inline-block;
}

.topbar {
    color: whitesmoke;
    font-family: "Courier New";
    align-self: center;
    /*padding-left: 5vw;*/
    /*font-size: 2em;*/
}
ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li{
  padding: 0;
  margin: 0;
}

@media only screen and (max-device-width:600px){
  .topbar{
    flex-direction: column !important;
    height: auto!important;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: center;
  }
  .links{
    width: 70vw;
    font-size:  .75em;

  }
  .hero-img{
    align-self: center;
    align-items: flex-end;;
    align-content: space-around;;
    width: 75vw;
    justify-content: center;
  }

  .hero-img img{
    height: 3em;
    width: 3em;
    border-radius: 3em;
    margin:.5em;
  }
  .hero-img{
    width: 4em;
  }
}
/*bigger ish devices*/
@media only screen and (max-device-width: 650px) and (min-device-width:600px){

  .links{
    justify-content: flex-start;
    font-size: 1em;
  }
  .hero-img img{
    height: 4em;
    width: 4em;
    border-radius: 3em;
    margin:.5em;
  }
  .hero-img{
    padding-top: .75em;
  }

}
/*desktop*/
@media(min-device-width: 650px) {
  .links{
    justify-content: center;
    font-size: 1em;
  }
  .hero-img img{
    height: 5em;
    width: 5em;
    border-radius: 3em;
    margin:.5em;
  }

}
    .topbar {
        font-size: 2em;
        width: 75vw;
    }
    .longword {
        font-size: .9em;
    }
    .topbar {
        display: flex;
        flex-direction: row;
        /*flex-wrap: nowrap;*/
        height: 6em;
    }
    .hero-img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-direction: column;
        flex-grow: 1;
        /*width: 5em;*/
    }
    .hero-img div {
        flex-grow: 1;
        align-items: center;
        align-self: center;
    }
    .hero-img img {

    }
    .links {
        align-self: center;
        padding-top: 0;
        margin-top: 0;
        flex-grow: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .links ul {
        padding-left: 0;
        display: flex;
        list-style-type: none;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .link ul li {
        /*padding: 1em;*/
    }
/*}*/

#content {
    height: 100vh;
}

#pdf {
    background-color: white;
    height: 100%;
    width: 100%;
}
